body {
    user-select:none; /*fix the bug, when text is dragged over canvas and cause loading of different element (text - element)*/
}

.btn-graph {
    outline: none;
    color: black;
    text-align:center;
    font-size:13px;
    padding:0 0.3em;
    font-weight: bold;
    border:0;
}

.no-padding-right {
    padding-right: 0 !important;
}

.teacher-mode:hover{
    background-color: #28a745;
}

.form-control.is-invalid{
    background-image: none;
}

.hidden-on-medium-and-lower{
    display: inline;
}

.split-pane {
    height: calc(100vh - 64px) !important;
}

.vh-pane-left,
.vh-pane-right {
    height: calc(100vh - 64px);
    padding-right: 15px;
}

.vh-pane-right{
    padding-left: 15px;
}

[data-type="Resizer"] {
    width: 12px !important;
}

@media all and (max-width: 991.9px) {
    .split-pane {
        /* cancel-out container-fluid's padding so that the resizer spans
           to window's edges */
        margin-left: -15px;
    }

    [data-type="Resizer"] {
        width: 100% !important;
        height: 12px !important;
    }
    
    .vh-pane-left,
    .vh-pane-right {
        height: 100%;
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .vh-pane-right {
        padding-top: 15px;
        min-height: 100%;
    }

    .hidden-on-medium-and-lower {
        display: none;
        width: max-content;
    }
}

@media all and (max-width: 991.9px) and (max-height: 240px) {
    .split-pane {
        height: auto !important;
    }
}

.viewMode .split-pane,
.viewMode .vh-pane-left,
.viewMode .vh-pane-right {
    height: auto !important;
}

.viewMode .btn {
    display: none;
}

.viewMode .form-control,
.viewMode .input-group-prepend,
.viewMode .input-group-append,
.viewMode .input-group-text {
    border: none;
    background: initial;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}

.viewMode .input-group.mb-1 {
    margin-bottom: 0 !important;
}

.viewMode .form-control {
    height: auto !important;
}

.viewMode .form-group {
    margin-bottom: 0.5rem;
}

.viewMode .form-label {
    margin-bottom: 0.25rem;
}
